/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
}

/* UTILITY */
.mb-1{
    margin-bottom: 1em;
}

/* MAIN */
main{
    overflow: hidden;
    height: calc(100vh - 80px);
    background-color: rgb(26, 35, 53);
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 350px;
}
/* nav */
.nav-sidebar{
    float: left;
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    color: gray;
    overflow: hidden;
}

.logo{
    width: 150px;
    padding: 1em;
}

.logo-mobile{
    display: none;
}
/* media query logo */
@media screen and (max-width:600px) {
    .logo{
        display: none;
    }

    .logo-mobile{
        display: block;
        text-align: center;
        padding: 5px 0 16px;
    }

    .logo-mobile img{
        width: 50%;
    }
}

.sidebar-icon{
    width: 100%;
}

.sidebar-icon img{
    width: 20px;
    margin-left: 1em;
}

.nav-container span:hover{
    color: white;
}

.nav-container li:hover{
    color: white;
}

.border{
    display: inline-block;
    height: 30px;
}

.icon{
    margin-bottom: .5em;
    font-weight: bold;
}

.icon:first-child{
    border-left: 3px solid greenyellow; 
    color: white;
}

/* media query icon */
@media screen and (max-width:600px){
    .icon:first-child{
        border-left: 0;
    }
}

.nav-sidebar span{
    font-size: .7em;
}

.sidebar-playlist{
    height: 300px;
    width: 100%;
    margin-left: 1em;
}

.sidebar-playlist h4{
    text-align: left;
    color: white;
    margin-bottom: .5em;
}

.new-playlist span{
    font-weight: bold;
}

.box{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: gray;
    text-align: center;
}

.box:hover{
    background-color: white;
}

#plus{
    color: black;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.playlist{
    overflow-y: auto;
    height: 200px;
}


.playlist li{
    margin-bottom: 2em;
    font-size: .7em;
    font-weight: bold;
}

.sidebar-account{
    height: 80px;
    margin: 0 1em;
}

.sidebar-account img{
    width: 20px;
}

.sidebar-account span:hover{
    color: white;
}

.download{
    margin-bottom: .6em;
}

.download img{
    width: 10px;
}

.account{
    margin-bottom: .6em;
}

.account img{
    background-color: grey;
    border-radius: 50%;
}

.account span{
    color: white;
}

.account-border{
    border: 1px solid gray;
    margin-bottom: .6em;
}

.sidebar-account span{
    font-weight: bold;
}

/* media query nav-sidebar */
@media screen and (max-width: 600px){
    .nav-sidebar{
        width: 50px;
    }

    .sidebar-icon span{
        display: none;
    }

    .sidebar-playlist{
        display: none;
    }

    .sidebar-account span{
        display: none;
    }

    .download{
        text-align: center;
    }
}

/* main content */
.main-content{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}

@media screen and (max-width:600px){
    .main-content{
        width: calc(100% - 50px);
    }
}
/* nav upgrade */
.nav-upgrade{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(000, 000, 000, .5);
}

.btn-upgrade{
    border: 1px solid white;
    border-radius: 2em;
    text-align: center;
    align-self: center;
    padding: 10px 20px;
    font-size: .6em;
}

.btn-upgrade:hover{
    transform: scale(1.2);
}

.btn-upgrade a{
    font-size: .6em;
    color: white;
    line-height: 30px;
    
}

@media screen and (max-width: 600px){
    .nav-upgrade{
        width: calc(100% - 50px);
        z-index: 100;
    }
}
/* main list */
.main-list{
    height: 50px;
    margin-top: 80px;
    text-align: center;
}

.main-list li{
    text-transform: uppercase;
    display: inline-block;
    color: gray;
    font-size: .7em;
    font-weight: bold;
    margin-top: 1em;
    margin-right: 1em;
}

.main-list a:hover{
    color: white;
}

.active{
    border-bottom: 2px solid greenyellow;
    width: 30px;  
    margin-left: 1.9em ;
}

/* album */
.title{
    margin-left: .8em;
    margin-bottom: 1em;
}

.album{
    display: flex;
    margin-left: .8em;
    margin-bottom: 2em;
}

.album-card{
    position: relative;
    margin-right: 1em;
    width: calc(100% / 6);
}

.album img{
    margin-bottom: 1em;
}

.album-card i{
    display: none;
    position: absolute;
    top: 25%;
    left: 40%;
    font-size: 3em;
}

.album-card:hover i{
    display: block;
}

h4{
    text-align: center;
    margin-bottom: .5em;
}

.sub-title{
    font-size: .7em;
    color: gray;
    text-align: center;
    font-weight: bold;
}

/* media query album */
@media screen and (max-width:600px) {
    .album{
        flex-wrap: wrap;
    }

    .album-card{
        margin-bottom: 4em;
        width: calc(100% / 2 - 1em);
    }

    .title{
        font-size: .4em;
        margin-bottom: 3em;
    }

    h4{
        font-size: .4em;
    }

    .sub-title{
        font-size: .4em;
    }

    .album-card i{
        position: absolute;
        top: 35%;
    }
}

/* media query created */
@media screen and (max-width:600px){
    .created{
        flex-wrap: wrap;
    }
}

/* creatred */
.created{
    display: flex;
    margin-left: .8em;
    margin-bottom: 2em;
}

.title h3{
    margin-bottom: .6em;
}

.title p{
    font-size: .7em;
    color: gray;
    font-weight: bold;
    margin-bottom: 1em;
}

.created img{
    margin-bottom: 1em;
}

.artist{
    display: flex;
    margin-left: .8em; 
    margin-bottom: 2em;
}

.artist img{
    margin-bottom: 1em;
    border-radius: 50%;
}

.main-content img:hover{
    opacity: .3;
}

/* media query main list */
@media screen and (max-width:600px) {
    .main-list a{
        font-size: .6em;
    }
}


/* media query artist */
@media screen and (max-width:600px) {
    .artist{
        flex-wrap: wrap;
    }
}
/* FOOTER */
footer{
    height: 80px;
    background-color: #282828;
    width: 100%;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
/* left */
.footer-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 100%;
    margin-left: 1em;
}

.footer-left img{
    height: 50px;
    width: 50px;
    margin-right: .6em;
}

.footer-left .brano{
    font-size: .6em;
    color: gray;
}

.footer-title{
    margin-right: 2em;
}

.footer-title .brano:hover{
    text-decoration: underline;
    color: white;
}

.footer-list i:hover{
    color: white;
}

.footer-icon{
    margin-left: 1em;
}

.footer-icon i{
    padding: .2em;
    color:gray;
}

/* center */
.footer-center{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}
/* top */
.center-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: .5em;
}

.center-top i{
    color: white;
    margin: 0 .4em;
}

.center-top i:nth-child(3){
    font-size: 2em;
    line-height: 50%;
    vertical-align: middle;
}

.center-top i:nth-child(3):hover{
    transform: scale(1.2);
}

/* bottom */
.center-bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.number{
    font-size: .6em;
    font-weight: bold;
}

.footer-border-1{
    width: 90%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: gray;
    margin: 0 2em;
}

.footer-border-2{
    width: 30%;
    border-radius: 1em;
    border: 2px solid lightgray;
}

.footer-circle{
    display: none;
    position: absolute;
    left: 180px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.footer-circle-2{
    display: none;
    position: absolute;
    right: 140px;
    bottom: 32px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.footer-border-1:hover .footer-border-2{
    border:2px solid greenyellow
}

.footer-border-1:hover .footer-circle{
    display: block;
}

.footer-border-1:hover .footer-circle-2{
    display: block;
}
/* right */
.footer-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}

.footer-right i{
    color: white;
    margin: 0 .2em;
}

.footer-right .footer-border-1{
    width: 150px;
}

.footer-right .footer-border-2{
    width: 50px;
}

/* media query footer */
@media screen and (max-width:600px){
    footer {
       width: 100%;
    }

    .footer-left .footer-icon{
        display: none;
    }

    .footer-left h5{
        font-size: .5em;
    }

    .footer-left .brano{
        font-size: .4em;
    }

    .center-top i{
        margin: 0 .2em;
        font-size: .7em;
    }

    .center-top i:nth-child(3){
        font-size: 1.5em;
    }

    .number{
        font-size: .3em;
    }

    .footer-border-1{
        margin: 0 .5em;
        width: 80%;
        border: .3px solid gray;
    }

    .footer-circle{
        display: none;
        position: absolute;
        left: 65px;
        bottom: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
    }

    .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer-right i{
        margin-top: .5em;
        font-size: .8em;
    }

    .footer-right .footer-border-1{
        width: 80px;
        margin-bottom: .3em;
    }

    .footer-right .footer-border-2{
        width: 30px;
    }

    .footer-circle-2{
        display: none;
        position: absolute;
        right: 75px;
        bottom: 12px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
    }
}