/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style: none;
}

.mb-1{
    margin-bottom: 1em;
}
/* MAIN */
main{
    height: calc(100vh - 80px);
    background-color: rgb(26, 35, 53);
}

/* nav */
.nav-sidebar{
    float: left;
    width: 200px;
    height: calc(100vh - 80px) ;
    background-color: black;
    color: gray
}

.logo{
    width: 150px;
    padding: 1em;
}

.sidebar-icon{
    width: 100%;
    border: 1px solid green;
}

/* .border{
    display: inline-block;
    border-left: 3px solid greenyellow;
    height: 30px;
} */

.icon{
    margin-bottom: .5em;
}

.sidebar-icon i{
    margin-left: 1em;
    margin-right: .4em;
    font-size: 1.3em;
    color: gray; 
}

.nav-sidebar span{
    font-size: .7em;
}

.sidebar-playlist{
    width: 100%;
    height: 300px;
    margin-left: 1em;
    border: 1px solid green;
}

.sidebar-playlist h4{
    color: white;
    margin-bottom: .5em;
}

.new-playlist span{
    font-weight: bold;
}

.box{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: gray;
}

#plus{
    color: black;
    font-size: 3em;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.playlist li{
    margin-bottom: 1em;
    font-size: .7em;
    font-weight: bold;
}

.sidebar-account{
    width: 100%;
    height: 150px;
    border: 1px solid green;
}
/* main content */
.main-content{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}
.nav-upgrade{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(000, 000, 000, .5);
}

.main-list{
    height: 50px;
    margin-top: 80px;
    border: 1px solid green;
}

.album{
    height: 300px;
    border: 1px solid green;
    
}

.created{
    height: 300px;
    border: 1px solid green;
}

.artist{
    height: 300px;
    border: 1px solid green;
}
/* FOOTER */
footer{
    height: 80px;
    background-color: #282828;
    width: 100%;
}